<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:sqlserver://localhost</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <!-- sql server 方言 底层拼接sql语句-->
    <property name="dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
    <!--可以在控制台显示对数据库的操作语句 -->
      <property name="hibernate.show_sql">true</property>

    <mapping class="xyl.cct.pojo.LyEntity"/>
    <mapping resource="xyl/cct/pojo/LyEntity.hbm.xml"/>
    <mapping resource="xyl/cct/pojo/XyEntity.hbm.xml"/>
    <mapping class="xyl.cct.pojo.XyEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>